div#wrapper {
  width: 30em;
  margin-right: auto;
  margin-left: auto;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  float: left;
  display: inline-block;
}

li:nth-child(4n+5) {
  clear: both;
}

.display {
  font-size: 3em;
  border: dotted;
  border-width: 1px;
}

.button-number {
  width: 3em;
  font-size: 2.5em;
  color: black;
  background: #C0C0C0;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-operator {
  width: 3em;
  font-size: 2.5em;
  color: white;
  background: rgb(66, 184, 221);
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-control {
  width: 3em;
  font-size: 2.5em;
  color: white;
  background: black;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
